<section id="app-header" role="region" class="skin-dark">
  <header id="title-header">
    <a id="back" role="button" href="#/podcasts"><span class="icon icon-back"><%= l('Back') %></span></a>
    
    <menu type="toolbar">
      <a id="add-podcast-button"><span class="icon icon-add">Add podcast</span></a>
    </menu>
    
    <h1><%= l('Podcasts') %></h1>
  </header>
  
  <header id="add-podcast">
    <form action="#podcasts/create">
      <p>
        <input id="add-rss" type="text" required="" placeholder="Enter a podcast URL">
        <button type="reset">Clear</button>

        <a id="add-rss-cancel" role="button" class="actions">Cancel</a>
        <button id="add-rss-submit" class="actions recommend">Subscribe</button>
      </p>
    </form>
  </header>
  
</section>

<!-- Podcasts tab -->
<div id="podcasts-tab-container" class="tab">
  <div id="podcasts"></div>
</div>

<!-- Popular/Top Podcasts tab -->
<!-- ON HOLD UNTIL WE FIND A GOOD TOP PODCASTS DIRECTORY
<div id="popular-tab-container" class="tab"></div>
-->

<!-- Search Podcasts tab -->
<div id="search-tab-container" class="tab"></div>

<section id="tabs" role="region">
  <ul role="tablist" data-items="2" class="bottom">
    <li id="podcasts-tab" role="tab">
      <a href="#/podcasts" class="active" data-original-href="#/podcasts"><%= l('Podcasts') %></a>
      <div role="tabpanel"></div>
    </li>
    <!-- ON HOLD UNTIL WE FIND A GOOD TOP PODCASTS DIRECTORY
    <li id="popular-tab" role="tab">
      <a href="#popular-tab"><%= l('Popular') %></a>
      <div role="tabpanel"></div>
    </li>
    -->
    <li id="search-tab" role="tab">
      <a href="#/search" data-original-href="#/search"><%= l('Search') %></a>
      <div role="tabpanel"></div>
    </li>
  </ul>
</section>
