<% if (episode.id) { %>
  <% if (blobURL) { %>
    <% if (!softwareDecode) { %>
      <audio id="audio" src="<%= blobURL %>" data-episodeid="<%= episode.get('id') %>" autoload></audio>
      <div id="time-info">
        <span id="time-elapsed"></span>
        <span id="time-remaining"></span>
        <progress id="audio-progress"></progress>
      </div>
    <% } %>
    <a id="play-pause" href="#play-pause" data-paused="1" class="paused"><span class="hide"><%= l('Play/Pause') %></span></a>
    <a id="quicker" href="#quicker">2x</a>
  <% } %>
  <h2 class="podcast-title hide"><%= episode.podcast().get('name') %></h2>
  <h3 class="episode-title"><%= episode.get('title') %></h3>
  <% if (!!episode.get('description')) { %>
    <p class="description"><%= episode.get('description') %></p>
  <% } %>
<% } else { %>
  <h2 class="title"><%= l('Nothing playing') %></h2>
<% } %>
