<form id="modal-dialog" role="dialog" data-type="confirm">
  <section>
    <h1><%= l('Subscribe to podcast') %></h1>
    <p>
      <% if (imageURL) { %>
        <img alt="<%= l('Podcast Icon') %>" src="<%= imageURL %>">
      <% } %>
      <strong><%= name %></strong>
      <% if (description) { %>
        <small></small>
      <% } %>
    </p>
    <p><%= l('Subscribe to this podcast?') %></p>
  </section>
  <menu>
    <button data-action="cancel"><%= l('Cancel') %></button>
    <button class="recommend" data-action="confirm"><%= l('Subscribe') %></button>
  </menu>
</form>
