{{#link-to 'podcasts.new'}}Add New Podcast{{/link-to}}
<h3>{{t "tabs.myPodcasts"}}</h3>
  <ul class="my-podcasts">
    {{#each model as |podcast|}}
      <li>
        {{#link-to 'podcast' podcast class="cover"}}
          {{#if coverImage}}
            <img src={{podcast.coverImage}} alt={{podcast.title}}>
          {{else}}
            <span class="no-cover">{{podcast.title}}</span>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{outlet}}
