<div class="podcast-index horizontal-padding">
  <h1 class="ui dividing header">{{t "tabs.myPodcasts"}}</h1>

  <div class="ui doubling six column grid">
    {{#each controller.sortedPodcasts as |podcast|}}
      <div class="column four wide computer podcast-cover">
        {{#link-to "podcasts.show" podcast class="cover"}}
          <img src={{podcast.coverImageURL}} alt={{podcast.title}}>
        {{/link-to}}
      </div>
    {{else}}
      <p>{{t "podcast.noneFound"}} {{#link-to "podcasts.new" }}{{t "podcast.addOne"}}{{/link-to}}</p>
    {{/each}}
  </div>
</div>

{{outlet}}
