<div class="podcast-show">
  <div class="podcast-cover">
    <img src={{model.coverImageURL}} alt={{model.title}}>
  </div>

  <p>{{model.description}}<!-- {{model.lastUpdated}}--></p>

  <button class="negative ui button" {{action "delete"}}>Unsubscribe</button>
</div>

{{render "episodes" model.episodes}}
