<div id="podcast-<%= podcast.get('id') %>" class="podcast-cover <% if (podcastCover) { %>has-image<% } %>" <% if (podcastCover) { %>style="background-image: url(<%= podcastCover %>);"<% } %>>
  <a href="#/podcasts/<%= podcast.get('id') %>" class="reveal" data-podcastid="<%= podcast.get('id') %>"><span class="name"><%= podcast.get('name') %></span></a>
</div>
