<div id="podcast-details">
  <section data-type="list" id="podcast-details-<%= podcast.get('id') %>" class="podcast-details">
    <header><%= podcast.get('name') %></header>

    <ul class="episodes" data-podcastid="<%= podcast.get('id') %>"></ul>

    <button class="danger destroy" data-podcastid="<%= podcast.get('id') %>"><%= l('Remove this Podcast') %></button>
  </section>
</div>
