<brick-layout>
  <header>
    <brick-appbar>
      <h1>{{t app.title}}</h1>
      {{outlet headerAction}}
    </brick-appbar>
  </header>
  <section>
    {{outlet}}
  </section>
  <footer>
    {{!-- We interact with this programatically for various reasons. --}}
    <audio id="audio-player" preload="auto" mozaudiochannel="content"></audio>

    {{render "player"}}

    <brick-tabbar>
      <brick-tabbar-tab>
        {{#link-to 'podcasts'}}{{t tabs.myPodcasts}}{{/link-to}}
      </brick-tabbar-tab>

      {{!--
        Only show popular and search tabs (which require systemXHR) on
        platforms that can make cross-origin requests to get/parse the results.
      --}}
      {{#if isPackaged}}
        {{!--
        <brick-tabbar-tab>
          {{#link-to 'popular'}}{{t tabs.popular}}{{/link-to}}
        </brick-tabbar-tab>
        --}}
        <brick-tabbar-tab>
          {{#link-to 'search'}}{{t tabs.search}}{{/link-to}}
        </brick-tabbar-tab>
      {{/if}}
    </brick-tabbar>
  </footer>
</brick-layout>
