<div class="episodes">
  {{#each content=controller}}
    <div {{action setEpisode this}} {{bind-attr class=":episode isNew"}}>
      <div class="name">
        {{#if isNew}}
          <strong>New:</strong>
        {{/if}}
        {{name}}
      </div>

      {{!--
      <div class="actions">
        {{#if isDownloaded}}
          <i class="fa fa-play-circle"></i>
        {{else}}
          <i class="fa fa-cloud-download"></i>
        {{/if}}
      </div>
      --}}
    </div>
  {{else}}
    <p>Loading episodes...</p>
  {{/each}}
</div>
