<div class="episodes">

    <audio id="audio-player" preload="auto" mozaudiochannel="content"></audio>

    {{render "player"}}

  {{#each model as |episode|}}
    <div {{action "setEpisode" episode}} class="episode {{if isNew "new" "old"}}">
      <div class="name">
        {{#if isNew}}
          <strong>{{t "episode.new"}}</strong>
        {{/if}}
        {{model.name}} {{name}} {{episode.name}}
      </div>

      {{!-- Commented out while we are streaming-only. This code exposes
            download/downloading/play/stream UI, but for now we're streaming
            only so we don't show anything.
      {{#if HighFidelity.isPackaged}}
        <div class="actions">
          {{#if isDownloaded}}
            <i class="fa fa-play-circle"></i>
          {{else}}
            {{#if isDownloading}}
              <i class="fa fa-spinner fa-spin"></i>
            {{else}}
              <i class="fa fa-cloud-download" {{action download this}}></i>
            {{/if}}
          {{/if}}
        </div>
      {{/if}}
      --}}
    </div>
  {{else}}
    {{render "spinner"}}
  {{/each}}
</div>
