<div id="player" class="populated-{{isPopulated}} ui bottom fixed menu">
  <div id="time-info">
    <span id="time-elapsed">{{timeElapsed}}</span>
    <span id="time-remaining">{{timeRemaining}}</span>
    <progress id="audio-progress" max={{progressBar.max}}
              value={{progressBar.value}}>
    </progress>
  </div>

  <div class="episode-name">{{model.name}}</div>

  <div class="player-controls">
    <a {{action "rewind" model}} class="backward">
      {{fa-icon "backward"}}
    </a>

    {{#if model.isPlaying}}
      <a {{action "pause" model}} class="play-pause">
      {{fa-icon "pause"}}
      </a>
    {{else}}
      <a {{action "play" model}} class="play-pause">
      {{fa-icon "play"}}
      </a>
    {{/if}}

    <a {{action "forward" model}} class="forward">
      {{fa-icon "forward"}}
    </a>
  </div>
</div>
