<div id="player">
    {{#if audio}}
        <div id="time-info">
            <span id="time-elapsed">{{timeElapsed}}</span>
            <progress id="audio-progress" {{bind-attr max=progressBar.max}} 
                                          {{bind-attr value=progressBar.value}}>
            </progress>
            <span id="time-remaining">{{timeTotal}}</span>
        </div>
        {{#if isPlaying}}
            <a {{action pause model}} class="play-pause">
                <i class="fa fa-pause"></i>
            </a>
        {{else}}
            <a {{action play model}} class="play-pause">
                <i class="fa fa-play"></i>
            </a>
        {{/if}}
        <span>{{name}}</span>
    {{else}}
        <span></span>
        <span>Nothing to play</span>
    {{/if}}
</div>
