{{#if controller}}
  <ul class="my-podcasts">
    {{#each content=controller tagName=ul className="my-podcasts"}}
      <li>
        {{#link-to 'podcast' this class="cover"}}
          {{#if this.coverImage}}
            <img {{bind-attr src=this.coverImage}} {{bind-attr alt=this.title}}>
          {{else}}
            <span class="no-cover">{{this.title}}</span>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{else}}
  <div class="center">
    <h2>{{t podcast.noneFound}}</h2>
    <p>
      {{#link-to 'podcast.new'}}{{t podcast.addOne}}{{/link-to}}
    </p>
  </div>
{{/if}}

{{outlet}}
