<ul class="my-podcasts">
 {{#collection content=controller}}
    <li>
      {{#link-to 'podcast' this class="cover"}}
        {{#if this.coverImage}}
          <img {{bind-attr src=this.coverImage}} {{bind-attr alt=this.title}}>
        {{else}}
          <span class="no-cover">{{this.title}}</span>
        {{/if}}
      {{/link-to}}
    </li>
  {{/collection}}
</ul>

{{outlet}}
