<div class="podcast">
  <img class="cover-image" {{bind-attr src=model.coverImageURL}} {{bind-attr alt=model.name}}>

  <button {{action update}}>Update Podcast</button>
  <p>Last updated: {{lastUpdated}}</p>
</div>

<hr />

{{render episodes model.episodes}}

{{outlet}}
