{{#linkTo 'podcasts.new'}}Add New Podcast{{/linkTo}}
<h3>My Podcasts</h3>
  <ul class="my-podcasts">
    {{#each podcasts tagName=ul className="my-podcasts"}}
      <li>
        {{#link-to 'podcast' this class="cover"}}
          {{#if coverImage}}
            <img {{bind-attr src=coverImage}} {{bind-attr alt=title}}>
          {{else}}
            <span class="no-cover">{{title}}</span>
          {{/if}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
{{outlet}}
