<div class="podcast">
  <img class="cover-image" src={{model.coverImageURL}}
               alt={{model.title}}>

  <p>{{model.description}} {{model.lastUpdated}}</p>

  <button {{action "delete"}}>Unsubscribe</button>
</div>

<hr/>

{{render "episodes" model.episodes}}
