<h2>{{t search.searchForAPodcast}}</h2>

{{input type="search" value=query placeholder=searchPlaceholder id="search-input"}}
<button {{action search}}>{{t search.find}}</button>

<div {{bind-attr class="isSearching::hide"}}>
  {{render spinner}}
</div>

{{#if resultCount}}
  <div class="results">
    {{#each results}}
      <div class="podcast" {{action subscribe feedUrl trackName}}>
        <div class="name" {{bind-attr data-collection-url=feedUrl}}>
          <img {{bind-attr src=artworkUrl100}} {{bind-attr alt=trackName}}>
          <br>
          {{trackName}}
        </div>
      </div>
    {{else}}
      <p>{{t search.noResults}}</p>
    {{/each}}
  </div>
{{/if}}
